.boxHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px;
  background-color: #EFEFEF;
  gap: 24px;
  border-radius: 28px;

}

hr {
  width: 100%;
  height: 3px;
  margin-top: 20px;
}

.boxOu {
  height: 50px;
  width: 50px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -52px;
}

a {
  color: #47A789;
}

a:hover {
  color: #337761;
  cursor: pointer;
  transition: all .3s;
}