.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
}

.input-icon {
  background-color: #54D9AF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px;
  border-radius: 8px 0px 0px 8px;
}


.input-field {
  flex: 1;
  background-color: #C8F4E7;
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  color: black;
  outline: none;
}

.input-field::placeholder {
  color: #337761;
  opacity: 0.7;
}
